REACT_APP_SUPABASE_URL=https://your-project-id.supabase.co
REACT_APP_SUPABASE_ANON_KEY=your-anon-public-key
REACT_APP_EMAILJS_SERVICE_ID=example
REACT_APP_EMAILJS_TEMPLATE_ID=example
REACT_APP_EMAILJS_PUBLIC_KEY=example
REACT_APP_SUPPORT_TO_EMAIL=example

